<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">  
    
    <link rel="stylesheet" href="beach-card.css">
    <title>Document</title>

</head>
<body>
<div class="cards">
    <div id="card-1" class="card">
        <img src="beach-1.png" alt="">
        <div class="card-body">
            <header>
                <p>Tarragona, Spain</p>
                <h2>Playa Llarga</h2>
            </header>
            <p>Greyhound divisively hello coldly wonderfully marginally far upon...</p>
        </div>
    </div>
    <div id="card-1" class="card">
        <img src="beach-1.png" alt="">
        <div class="card-body">
            <header>
                <p>Tarragona, Spain</p>
                <h2>Playa Llarga</h2>
            </header>
            <p>Greyhound divisively hello coldly wonderfully marginally far upon...</p>
        </div>
    </div>
    <div id="card-1" class="card">
        <img src="beach-1.png" alt="">
        <div class="card-body">
            <header>
                <p>Tarragona, Spain</p>
                <h2>Playa Llarga</h2>
            </header>
            <p>Greyhound divisively hello coldly wonderfully marginally far upon...</p>
        </div>
    </div>
</div>

</body>
</html>