<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="filter.css">
    <title>Filter</title>
</head>

<body>
    <form>

        <p>Filter</p>

        <div>
            <input type="checkbox" id="popular" name="popular">
            <label for="popular">most popular</label>
        </div>

        <div>
            <input type="checkbox" id="nudist" name="nudist">
            <label for="Nudist">nudist fkk</label>
        </div>

        <div>
            <input type="checkbox" id="noentry" name="noentry">
            <label for="noentry">no entry fee</label>
        </div>

        <div>
            <input type="checkbox" id="restaurant" name="restaurant">
            <label for="rest">restaurant</label>
        </div>

        <div>
            <input type="checkbox" id="shops" name="shops">
            <label for="shops">shops & convenience</label>
        </div>

        <div>
            <input type="checkbox" id="toilet" name="toilet">
            <label for="toilet">toilet access</label>
        </div>

        <div>
            <input type="checkbox" id="pets" name="pets">
            <label for="pets">pet friendly</label>
        </div>

        <div>
            <input type="checkbox" id="family" name="family">
            <label for="family">family friendly</label>
        </div>

        <div>
            <input type="checkbox" id="parking" name="parking">
            <label for="parking">parking lot</label>
        </div>

        <div>
            <input type="checkbox" id="ptrasnport" name="ptrasnport">
            <label for="ptrasnport">public transport</label>
        </div>
        <div>
            <input type="checkbox" id="barrier-free" name="barrier-free">
            <label for="barrier-free">barrier-free access</label>
        </div>

        <div class="controls">

            <input type="reset" value="Reset">
        </div>

        <div class="controls">

            <input type="submit" value="Submit">

        </div>

    </form>

    </form>
</body>

</html>