body {
    font-family: 'Maven Pro';
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h2 {
        text-align: center;
}

input {
    font-family: inherit ;
    width: 640px;
    height: 42px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(231, 231, 231);
    background: #ffffff;
    border-radius: 200px;
}

button {
    font-family: inherit ;
    width: 200px;
    height: 40px;
    padding: 10px;
    background: #0F7B98;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: 10px;
    border-radius: 200px;
    margin-left: 30px;
    }

    .search {
        display: flex;
        justify-content: center;
    }