/* Cards */

.cards-main { 
  max-width: 960px;
  margin: 0 auto;
}
.cards-main h3 {
  display: flex;
  justify-content: center;
  color: #0F7B98;
  font-size: 2em;
  margin-top: 75px;
}

.cards-content { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-home img {
  width: 300px;
  height: 200px;
}

.card-home {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body-home {
  padding: 16px;
}

.city-country { 
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  color: #004546;
  margin: 0;
}

.lake-beach {
  font-size: 24px;
  line-height: 28px;
  color: #004546;
  margin: 0;
}

.description-home {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #04252E;
}
