.discover-btn { 
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.discover-btn a {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #004546;
}
