.filter{
  width: 960px;
  display: flex;
  flex-direction: column;
  margin-left: 95px;
}

.filter h1{
  margin-bottom: 12px;
  font-family: Maven Pro;
  font-size: 24px;
  color: #04252E;
}

label {
  display: flex;
  align-items: center;
  font-family: Maven Pro;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: 0.4px;
  color: #04252E;
}

input[type=checkbox] + label{
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox] + label:before{
  content: "\2714";
  border:0.1em solid #004546;
  border-radius: 0.1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left:0.3em;
  padding-bottom: 0.2em;
  margin-right: 10px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before{
  transform: scale(0);
}

input[type=checkbox]:checked + label:before{
  background-color: #0f7b98;
  border-color: #0f7b98;
  color: #ffffff;
}
