.footer { 
  display: flex;
  justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px;
}

.footer li { 
  margin-bottom: 5px;
}

.footer a { 
  color: $primaryColor;
  font-weight: bold;
}

.footer-title { 
  line-height: 16px;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: $thirdColor;
}