.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}

.link-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 35px;
}

.logo-image {
  margin-right: 10px;
}

.logo-text {
  font-size: 30px;
  font-family: "Noteworthy";
  color: #044655;
}

.search {
  display: flex;
  align-items: center;
}

.input-search {
  font-family: Maven Pro;
  font-size: 16px;
  width: 310px;
  height: 40px;
  padding: 10px;
  border: 1px solid rgb(231, 231, 231);
  background: #ffffff;
  border-radius: 9999px;
  margin-right: 15px;
}

.base-button {
  font-family: Maven Pro;
  border-radius: 9999px;
}

.button-header {
  min-width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}

.button-search {
  background: #0f7b98;
  color: white;
  border: 1px solid grey;
}

.button-picks {
  color: #0f7b98;
  border: 1px solid white;
  background: #bee7e9;
  margin-left: auto;
}