* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("./img/oficial-home-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  width: 50px;
}

.menu-bg {
  background: transparent;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  color: #044655;
}

.menu-logo a {
  font-size: 34px;
  margin: 0 10px;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E4F2F6;
  padding: 5px 20px;
  border-radius: 25px;
  width: 165px;
}

.menu-btn a {
  font-size: 16px;
  display: block;
  padding: 10px;
}

.title-container {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-container img {
  width: 300px;
  margin: 0 auto;
}

.title-container p {
  font-family: Maven Pro;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #044655;
}

.search-container {
  max-width: 960px;
  margin: 0 auto;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
}

.search-bar input {
  font-family: inherit;
  width: 640px;
  height: 42px;
  padding: 20px;
  font-size: 17px;
  border: 1px solid #e7e7e7;
  background: #ffffff;
  border-radius: 200px;
}

.search-btn {
  font-family: inherit;
  width: 200px;
  height: 40px;
  padding: 10px;
  background: #0F7B98;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: 10px;
  border-radius: 200px;
  margin-left: 20px;
}

/* Cards */
.cards {
  max-width: 960px;
  margin: 0 auto;
}

.cards h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0F7B98;
  font-size: 2em;
  margin-top: 75px;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card img {
  width: 300px;
  height: 200px;
}

.card {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body {
  padding: 16px;
}

.city-country {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  color: #004546;
  margin: 0;
}

.lake-beach {
  font-size: 24px;
  line-height: 28px;
  color: #004546;
  margin: 0;
}

.description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #04252E;
}

.discover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.discover-btn a {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #004546;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px;
}

.footer li {
  margin-bottom: 5px;
}

.footer a {
  color: #0F7B98;
  font-weight: bold;
}

.footer-title {
  line-height: 16px;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #044655;
}
/*# sourceMappingURL=style.css.map */